* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background:url(/assets/image/2102.i518.009_sky_cloud_evening_illustration.jpg) no-repeat;
}

.content {
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
  width: 120vh;
}

.content h1{
  text-align: center;
}